body {
  font-family: "Poppins", sans-serif;
  background-color: #c1e6ff;
  padding: 20px;
}

form {
  color: #0c4b6b;
}

h1 {
  margin-bottom: 0;
}

img {
  display: block;
  margin: 0 auto;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  color: #0c4b6b;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

#city {
  color: #0c4b6b;
  font-size: 24px;
}

#date {
  color: #0c4b6b;
}
.float-left {
  text-align: center;
}
.card {
  background-color: #abd3ec;
}

.date {
  bottom: 0;
  right: 0;
  position: fixed;
}

.day {
  font-size: 16px;
  color: #255d7e;
}
.temperature {
  font-size: 28px;
  text-align: center;
  font-weight: 900;
}
.weather-app {
  border: 1px solid #255d7e;
  max-width: 500px;
  margin: 30px auto;
  padding: 10px;
}

.weather-pic {
  font-size: 40px;
}

.weekday {
  color: #255d7e;
}
.units {
  position: relative;
  top: -10px;
}
